.about__block {
  margin-bottom: 30px;
  padding-top: 15px;
  .about__image {
    .image {
      border-radius: 15px;
      overflow: hidden;
    }
  }
  .about__content {
    h3,
    h4 {
      margin-bottom: 8px;
    }
    p {
      margin-bottom: 16px;
    }
    ul {
      list-style: outside;
      margin-left: 20px;
      li {
        margin-bottom: 15px;
      }
    }
  }
}
