.classes_tabs {
  max-width: 800px;
  margin: 0 auto;
  .tab__buttons {
    margin-bottom: 60px;
    display: flex;
    @media (max-width: 425px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    button {
      background-color: #fff;
      color: #e3b6aa;
      border: none;
      outline: none;
      padding: 4px 15px;
      font-weight: 500;
      margin-right: 15px;
      font-size: 12px;
      @media (max-width: 575px) {
        margin-right: 0;
        flex: 1;
      }
      @media (max-width: 425px) {
        margin-bottom: 12px;
      }
    }
    .active {
      background-color: #ede9e1;
      border: 2px solid #ede9e1;
      padding: 4px 15px;
      font-weight: 500;
      margin-right: 15px;
      font-size: 12px;
      @media (max-width: 575px) {
        margin-right: 0;
      }
    }
  }
  .tab__content {
    h1 {
      margin-bottom: 40px;
      position: relative;
      &:after {
        content: "";
        width: 60px;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -6px;
        background-color: #e3b6aa;
      }
    }
    .schedule__tab {
      .schedule__tab-item {
        margin-bottom: 60px;
        .schedule__tab-date {
          font-weight: 300;
          margin-bottom: 5px;
        }
        .schedule__tab-title {
          font-weight: 500;
          margin-bottom: 15px;
        }
        .schedule__tab-description {
          margin-bottom: 15px;
          p {
            margin-bottom: 15px;
            a {
              color: #e3b6aa;
            }
          }
        }
        .snipcart-add-item {
          outline: none;
          background-color: #e3b6aa;
          border: 2px solid #e3b6aa;
          color: #ede9e1;
          padding: 4px 15px;
          font-size: 14px;
          font-weight: 500;
          text-decoration: none;
          transition: 0.3s ease;
          &:hover {
            background-color: transparent;
            color: #e3b6aa;
          }
        }
      }
      .class__full {
        font-weight: 500;
      }
      .no__workshops {
        font-weight: 500;
        margin-bottom: 30px;
      }
    }
    .other__tab {
      .other__tab-item {
        margin-bottom: 60px;
        .email__inquiry {
          a {
            color: #e3b6aa;
            text-decoration: underline;
          }
        }
      }
      .other__tab-title {
        font-weight: 600;
        margin-bottom: 5px;
      }
      .other__tab-price {
        font-weight: 300;
        margin-bottom: 15px;
      }
      .other__tab-description {
        margin-bottom: 15px;
      }
      .snipcart-add-item {
        outline: none;
        background-color: #e3b6aa;
        border: 2px solid #e3b6aa;
        color: #ede9e1;
        padding: 4px 15px;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        transition: 0.3s ease;
        &:hover {
          background-color: transparent;
          color: #e3b6aa;
        }
      }
    }
  }
}
