.contact__block {
  background-color: #dbeddb;
  padding: 120px 15px;
  border-radius: 15px;
  margin-bottom: 30px;
  transition: 0.3s ease;
  @media (max-width: 991px) {
    padding: 60px 15px;
  }
  .contact__image {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .contact__form {
    max-width: 450px;
    h3 {
      margin-bottom: 25px;
    }
    form {
      .mb {
        @media (max-width: 768px) {
          margin-bottom: 15px;
        }
      }
      input,
      select,
      textarea {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #3f3d56;
        border-radius: none;
        -webkit-border-radius: 0;
      }
    }
    button {
      margin-top: 20px;
      background-color: #c4d6c4;
      border: 3px solid #c4d6c4;
      padding: 8px 30px;
      border-radius: 20px;
      font-weight: bold;
      text-decoration: none;
      transition: 0.3s ease;
      &:hover {
        background-color: transparent;
      }
    }
    @media (max-width: 991px) {
      max-width: 100%;
      h3 {
        text-align: center;
        margin: 25px 0;
      }
    }
  }
}
