.home__hero {
  background-color: #ede9e1;
  padding: 60px;

  margin-bottom: 30px;
  .row {
    align-items: center;
  }
  .hero__content {
    .hero__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      .hero__title {
        max-width: 400px;
        margin-bottom: 15px;
      }
      .hero__link {
        margin-top: 35px;
        a,
        button {
          border: none;
          outline: none;
          color: #ede9e1;
          background-color: #e3b6aa;
          border: 2px solid #e3b6aa;
          padding: 8px 30px;

          font-weight: 500;
          letter-spacing: 1.2;
          text-decoration: none;
          transition: 0.3s ease;
          &:hover {
            background-color: transparent;
            color: #e3b6aa;
          }
        }
      }
    }
    .hero__image {
      text-align: center;
      img {
        width: 100%;
        transition: 0.3s ease;
      }
    }
    @media (max-width: 991px) {
      .col-lg-6:first-child {
        order: 1;
        .hero__text {
          text-align: center;
          margin-top: 25px;
          .hero__title {
            max-width: 100%;
          }
        }
      }
    }
  }
  @media (max-width: 575px) {
    padding: 25px;
    .hero__content {
      .hero__text {
        .hero__title {
          font-size: 30px;
        }
        .hero__link {
          padding-bottom: 25px;
        }
      }
    }
  }
}
