.image__block {
  margin-bottom: 30px;
  .image1,
  .image2 {
    .image {
      overflow: hidden;
      border-radius: 15px;
    }
  }
  .image1 {
    @media (max-width: 575px) {
      margin-bottom: 30px;
    }
  }
}
