.testimonials__block {
  margin-bottom: 60px;
  background-color: #ede9e1;
  padding: 35px;
  .slider__slide {
    text-align: center;
    img {
      display: unset;
      margin-bottom: 15px;
    }
    .text {
      max-width: 850px;
      margin: 0 auto;
      font-style: italic;
      color: #444;
    }
    .name {
      font-weight: 500;
      color: #e3b6aa;
    }
  }
  .slick-dots {
    position: unset;
    margin-top: 25px;
    border-radius: unset;
    li {
      width: 30px;
      height: 30px;
      button::before {
        color: #e3b6aa;
        font-size: 15px;
      }
    }
  }
}
