.text__with__button__block {
  max-width: 800px;
  margin: 40px auto 60px auto;
  text-align: center;
  h3 {
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 25px;
  }
  a {
    border: none;
    outline: none;
    color: #ede9e1;
    background-color: #e3b6aa;
    border: 2px solid #e3b6aa;
    padding: 8px 30px;
    font-weight: 500;
    letter-spacing: 1.2;
    text-decoration: none;
    transition: 0.3s ease;
    &:hover {
      background-color: transparent;
      color: #e3b6aa;
      text-decoration: none;
    }
  }
}
