#header {
  transition: 0.3s ease;
}

#header.sticky {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  z-index: 9;
  right: 0;
  .header__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(63, 61, 86, 1);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    .header__logo {
      h1 {
        color: #fff;
      }
    }
    .header__menu {
      ul {
        li {
          a {
            color: #fff;
          }
        }
        .book__btn {
          a {
            color: #3f3d56;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.header {
  position: relative;
  width: 100%;
  .header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    transition: 0.3s ease;
    .header__logo {
      a {
        text-decoration: none;
      }
      h1 {
        font-size: 20px;
        span {
          font-weight: bold;
          color: #f7cbe6;
        }
      }
    }
    .header__menu {
      ul {
        display: flex;
        li {
          margin: 0 12px;
          a {
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            transition: 0.3s ease;
            &:hover {
              color: #f7cbe6;
            }
          }
        }
        .book__btn {
          margin-right: 0;
          a {
            background-color: #f7cbe6;
            border: 3px solid #f7cbe6;
            padding: 8px 30px;
            border-radius: 20px;
            font-weight: bold;
            text-decoration: none;
            transition: 0.3s ease;
            &:hover {
              background-color: transparent;
              color: #3f3d56;
            }
          }
        }
      }
    }
  }
}
