#header {
  transition: 0.3s ease;
}

#header.sticky {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  z-index: 9;
  right: 0;
  .header__snipcart-actions {
    text-align: right;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #3f3d56;
    padding: 12px 15px;
    button {
      background-color: transparent;
      border: none;
      outline: none;
      svg {
        color: #fff;
      }
    }
  }
  .header__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(63, 61, 86, 1);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    .header__logo {
      h1 {
        color: #fff;
      }
    }
    .header__menu {
      ul {
        li {
          a {
            color: #fff;
            transition: 0.3s ease;
            &:hover {
              color: #f7cbe6;
            }
          }
          button {
            background-color: transparent;
            border: none;
            outline: none;
            position: relative;
            svg {
              color: #fff;
              font-size: 16px;
            }
          }
        }
      }
    }
    .header__mobile {
      li {
        button {
          svg {
            color: #fff;
          }
        }
      }
      .header__mobile-toggle {
        background-color: transparent;
        svg {
          color: #fff;
        }
      }
    }
  }
}

.header {
  position: relative;
  width: 100%;
  .header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
    transition: 0.3s ease;
    .header__logo {
      a {
        text-decoration: none;
      }
      h1 {
        font-size: 20px;
        span {
          font-weight: bold;
          color: #f7cbe6;
        }
      }
    }
    .header__menu {
      @media (max-width: 991px) {
        display: none;
      }
      ul {
        display: flex;
        li {
          margin: 0 12px;
          a {
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            transition: 0.3s ease;
            letter-spacing: 1.5px;
            &:hover {
              color: #f7cbe6;
            }
          }
          a.active {
            color: #f7cbe6;
          }
          button {
            background-color: transparent;
            border: none;
            outline: none;
            position: relative;
            top: -2px;
            svg {
              color: #3f3d56;
              font-size: 16px;
              transition: 0.3s ease;
            }
            &:hover {
              svg {
                color: #f7cbe6;
              }
            }
          }
        }
        li:last-child {
          margin-right: 0;
        }
      }
    }
    .header__mobile {
      display: none;
      @media (max-width: 991px) {
        display: flex;
      }
      li {
        margin-right: 15px;
        @media (max-width: 575px) {
          margin-right: 5px;
        }
        button {
          background-color: transparent;
          border: none;
          outline: none;
          position: relative;
          top: -2px;
          svg {
            color: #3f3d56;
            font-size: 24px;
          }
        }
      }
      li:last-child {
        margin-right: 0;
      }
      .header__mobile-toggle {
        padding: 0;
        border: none;
        background-color: transparent;
        &:hover {
          cursor: pointer;
        }
        svg {
          font-size: 28px;
          color: rgba(63, 61, 86, 1);
        }
      }
    }
  }
  .header__mobileMenu {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 0;
    position: absolute;
    background-color: #fff;
    width: 100%;
    z-index: 9;
    ul {
      background-color: #fff;
      text-align: center;
      li {
        font-weight: bold;
        margin: 24px 0;
        a {
          text-decoration: none;
        }
      }
    }
  }
}
